name: Deploy to Dokploy

on:
  workflow_run:
    workflows: ["Build and Push to GHCR"]
    types: [completed]

jobs:
 deploy:
    runs-on: self-hosted
    steps:
            -
                name: Trigger Dokploy Deployment
                run: |
                    curl -X 'POST' \
                    'https://dokploy.sekiganou.com/api/deploy/cweiNJe75LTXzaPyCx54S' \
                    -H 'accept: application/json' \
                    -H 'x-api-key: ${{ secrets.DOKPLOY_API_KEY }}' \
                    -H 'Content-Type: application/json' \
                    -d '{
                        "applicationId": "${{ vars.DOKPLOY_APPLICATION_ID }}"
                    }'